<% content_for :title do %>Knoda Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Knoda" data-text="Key Performance Indicators"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="users" data-view="Number" data-title="Users" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets referencing Knoda"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="comments" data-view="Number" data-title="Comments per Prediction" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="challenges" data-view="Number" data-title="Challenges per Prediction" data-moreinfo="" data-prefix=""></div>
    </li>        
  </ul>
</div>